<footer id="page-footer" class="uk-height-large">
    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-z-index uk-alert-primary" uk-sticky="position: bottom; end: !.uk-height-large">
        <p class="uk-text-small">
            Copyright &copy; Blog Ninja 2020</p>
    </div>
</footer>
