<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/hca0jcu.css">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="/assets/css/styles.css">
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
  <style>
    nav h1.uk-heading-small {
      margin-bottom: 0.4rem;
    }
    nav h1.uk-heading-small+p {
      margin-top: 0;
      letter-spacing: 0.02rem;
    }
  </style>
  <title>Blog Ninja | <%= title %></title>
</head>