<nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
    <div class="uk-navbar-left">

        <div class="uk-navbar-item uk-logo">
            <div class="uk-flex uk-flex-column">
                <h1 class="uk-heading-small uk-text-uppercase uk-text-bold"><a class="" href="/">Blog Ninja</a></h1>
                <p class="uk-text-uppercase uk-text-meta uk-text-primary">A Net Ninja Site</p>
            </div>
        </div>

    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
    <hr />
</nav>
