<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    
  <%- include('./partials/nav.ejs') %>
    
  <div class="uk-container">
    <div class="about content">
      <h2>About us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, incidunt excepturi exercitationem quae minus dolor corrupti facilis similique quidem cum minima rem nemo eos dolore perferendis! Maiores quis labore assumenda.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, incidunt excepturi exercitationem quae minus dolor corrupti facilis similique quidem cum minima rem nemo eos dolore perferendis! Maiores quis labore assumenda.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, incidunt excepturi exercitationem quae minus dolor corrupti facilis similique quidem cum minima rem nemo eos dolore perferendis! Maiores quis labore assumenda.</p>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %> 

</body>
</html>